.jumbotron{
	background-color: grey;
	color: black;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: grey;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

a{
	color: white;
}